:root {
    --color-primary-50: 245, 252, 251;
    --color-primary-100: 235, 252, 250;
    --color-primary-200: 215, 232, 230;
    --color-primary-300: 185, 237, 231;
    --color-primary-400: 132, 227, 213;
    --color-primary-500: 80, 217, 196;
    --color-primary-600: 71, 191, 173;
    --color-primary-700: 47, 128, 115;
    --color-primary-800: 35, 94, 85;
    --color-primary-900: 24, 64, 58;
}
